body {
  background-image: url('hanamura.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: blue;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#Target, #Trap {
  font-size: 2em;
  position: absolute;
  cursor: pointer;
}

#Trap {
  display: none;
}

#difficulty {
  margin-bottom: 20px;
}

h1, h3, #difficulty label, #difficulty select, #difficulty button {
  color: blue;
}

#finalScore {
  font-size: 1.5em;
  margin-top: 10px;
  color: red; /* Final score in red */
}

#backgroundContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
